@page "/datenschutz"

<div class="jumbotron" style="max-width: 800px;">
    <h4>Datenschutz</h4>
    <p>
        Der Datenschutz ist uns besonders wichtig, deshalb wird diese Webseite auf einem eigenen Server der Schule betrieben. Es werden keinerlei Zugriffsdaten (Cookies, IP-Adressen, Logdateien o.ä.) gespeichert.
    </p>
    <p>
        Das Einverständnis der Eltern aller Teilnehmer unter 18 Jahren wird vorausgesetzt.
    </p>
    <h5>Formulardaten</h5>
    <p>
        Die eingegebenen Formulardaten (Pseudonym, Klasse, gelaufene Strecke und Tag) werden nur für die Dauer der Aktion gespeichert und danach sofort gelöscht. Es werden keinerlei Daten an Dritte weitergegeben.
    </p>
    <h5>Pseudonym</h5>
    <p>
        Einträge dürfen nur mit einem <a href="https://de.wikipedia.org/wiki/Pseudonym">Pseudonym</a> eingetragen werden. Um dies zu gewährleisten, muss der Pseudonym-Eintrag mit einer Zahl beginnen.
        Es ist nicht möglich, dem Pseudonym eine reale Person zuzuordnen.
    </p>
    <h5>Moderation</h5>
    <p>
        Autorisierte Personen (Lehrer) können fehlerhafte/problematische Einträge löschen.
    </p>
    <h5>App</h5>
    <p>
        Über die Handy-App werden keinerlei Positionsdaten gespeichert oder übertragen. Es wird nur gesamte Distanz der Strecke mit den oben genannten Formulardaten übertragen.
    </p>

</div>

@code {

}
