@page "/"

<div class="d-flex flex-row">
    <div class="flex-shrink-1 p-2">
        <img class="img-fluid" src="images/www_small.png" />
    </div>
    <div class="justify-content-center align-self-center">
        <h3 class="text-white-50">Spendenlauf für Nepal</h3>
    </div>
</div>

<MapComponent></MapComponent>
