@page "/debugservice"
@inject IJSRuntime _js


<div class="btn btn-block">
    <button type="button" class="btn btn-primary" @onclick="@(() => _js.InvokeVoidAsync("StartRunService"))">Start</button>
    <button type="button" class="btn btn-primary" @onclick="@(() => _js.InvokeVoidAsync("StopRunService"))">Stop</button>
    <button type="button" class="btn btn-primary" @onclick="@(() => _js.InvokeVoidAsync("StartTasks"))">StopTasks</button>
</div>

<br>
<br>
<div id="geocount">Sommer</div>