@page "/appdatenschutz"

<div class="jumbotron" style="max-width: 800px;">
    <h5>Durchführende Lehrkraft und Fach</h5>
    <p>Frau StRin Metzger für die Sportfachschaft am Gymnasium Geretsried</p>

    <h5>Zweck</h5>
    <p>
        Projekt, das in Zeiten von Covid 19 den Sportunterricht ergänzt & das schulische Gemeinschaftsgefühl stärkt:
        Wir unterstützen unsere Partnerschule in Manang, Nepal. Jede*r Läufer*in sucht sich bis zu drei eigene Sponsor*innen,
        die dann für jeden eigenen erlaufenen Kilometer einen gewissen Betrag für die Lophel Ling Boarding School (LBS) spenden.      
    </p>
    <h5>Vervielfältigung, Verbreitung & Veröffentlichung</h5>
    <p>
        Die Teilnahme erfolgt mittels Pseudonym: keinerlei personenbezogene Daten werden abgefragt oder gespeichert! 
        Die Ermittlung der Distanz der jeweiligen Läufe wird durch eine eigens für unsere Schule entwickelte App verifiziert, die offline genutzt werden kann: Standortdaten werden lediglich auf dem eigenen Gerät gezeigt, übertragen wird nur die Distanz der gelaufenen Strecke.
        Die Sammlung der erlaufenen Kilometer unserer Schule erfolgt ab dem 12.07.2021 bis zum 23.07.2021 öffentlich unter Angabe der Klasse auf einer Webseite, die auf unserem eigenen Schulserver läuft: <a href="https://ext.gymger.de/worldwidewalk">https://ext.gymger.de/worldwidewalk</a> 
        Auch die Sponsor*innen werden auf dieser Webseite eingetragen; Klarnamen sind nicht erforderlich.
        Die Rahmendaten und Ergebnisse werden auch auf unserer Schulhomepage veröffentlicht: <a href="https://gymger.de/nepal">https://gymger.de/nepal</a>
    </p>

    <h5>Speicherung & Löschung</h5>
    <p>
        Sobald das Projekt Sponsorenlauf abgeschlossen ist, wird die Webseite zum Zweck einer neuen digitalen Laufgemeinschaft geleert. Keinerlei Daten bleiben über das Projekt hinaus gespeichert.
    </p>
</div>

@code {

}
