
@if (!String.IsNullOrEmpty(Walk.NextTarget)) {
    <div>
    <h4 class="text-white-50">Es wurden @Math.Round(Walk.CurrentDistance, 2) von @Math.Round(Walk.TotalDistance, 2) km zurückgelegt. Nächstes Ziel: 
        <span class="pointer text-decoration-underline text-primary" @onclick="e => InfoShow(Walk.NextTarget)">@Walk.NextTarget</span></h4>
    </div>
}
<div class="mapcontainer" >
    <div id="mapid" class="w-100 h-100"></div>

</div>
@if (!String.IsNullOrEmpty(pointInfo))
{
    <div>
        <PointInfoComponent @ref="pointInfoComponent" Point="@pointInfo" onCloseRequest="InfoClose"></PointInfoComponent>
    </div>
}
